# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json

# Python / Django
__pycache__/
*.py[cod]
*$py.class
.env
db.sqlite3
media/
static/

# Docker
.docker/
docker-stack.yml

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Helm
charts/*/charts/
charts/*/tmp/