# Локальні папки Terraform (плагіни та модулі)
.terraform/

# Файли стейту (ми їх перенесли в S3, тому локальні не потрібні)
*.tfstate
*.tfstate.*

# Файли змінних (можуть містити паролі)
*.tfvars
*.tfvars.json

# Файли логів та тимчасові плани
*.tfplan
.terraform.lock.hcl